/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/hot
/.vagrant
npm-debug.log
yarn-error.log
composer.lock
public/node_modules
public_cms/node_modules
public_portfolio/node_modules
public/bower_components
storage/logs/*.log
storage/framework/views/*
!storage/framework/views/.gitignore